@model pfeCLS_website.Models.Contact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
 .deleteB{
     padding-left:25%;
     padding-top:15%;
 }
</style>

<div class="deleteB">
<h2 style="color:#ff8000;">SUPPRIMER : </h2>

<h3>Voulez-vous vraiment supprimer ?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom :
            @*@Html.DisplayNameFor(model => model.Nom_msg)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_msg)
        </dd>

        <dt>
            Email :
            @*@Html.DisplayNameFor(model => model.Email_msg)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_msg)
        </dd>

        <dt>
            Objet :
            @*@Html.DisplayNameFor(model => model.Objet_msg)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objet_msg)
        </dd>

        <dt>
            Message :
            @*@Html.DisplayNameFor(model => model.Message_msg)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message_msg)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" style="color:orangered;" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
</div>
