@model pfeCLS_website.Models.Inscription

@{
    ViewBag.Title = "DeleteInscription";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Notifications")
                <h3 class="page-header"><i class="icofont-ui-delete"></i>Supprimer une inscription</h3>
                <ol class="breadcrumb">
                    <li><i class="icofont-home"></i><a href="@Url.Action("index","AdminLog")">Accueil</a></li>
                    <li>Inscription</li>

                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Voullez vous vraiment supprime ce formulaire ?
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nom_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nom_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Prenom_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Prenom_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Age_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Age_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Profil_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Profil_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Adresse_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Adresse_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Tele_part)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Tele_part)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Date_Inscr)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Date_Inscr)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Branche.Nom_branche)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Branche.Nom_branche)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()


                                <div class="form-actions no-color">
                                    <input type="submit" value="Supprimer" class="btn btn-default" style="color:orangered;" /> |
                                    <i class="icofont-reply"></i>@Html.ActionLink("retournez à la page précédente", "ListInscription")
                                </div>
                            }
                        </div>
                    </div>
                </section>
        
                <br /><br /><br /><br />
            </div>
        </div>
    </section>
</section>
