@model pfeCLS_website.Models.Categorie

@{
    ViewBag.Title = "DetailsCat";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Notifications")
                <h3 class="page-header"> <i class="icofont-spinner"></i>DETAILS DE CATEGORIE</h3>
                <ol class="breadcrumb">
                    <li><i class="icofont-home"></i><a href="@Url.Action("index","AdminLog")">Accueil</a></li>
                    <li>Categorie</li>

                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Details :
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Nom de categorie :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nom_Cat)
                                </dd>

                            </dl>
                            <div>
                                @Html.ActionLink("Modifier", "EditCat", new { id = Model.Id_Cat }) |
                                <i class="icofont-reply"></i>@Html.ActionLink("retournez à la page précédente", "ListCat")
                            </div>
                        </div>
                    </div>

                </section>

                <br /><br /><br /><br />
            </div>
        </div>
    </section>
</section>