@model pfeCLS_website.Models.Contact
@{
    ViewBag.Title = "DetailsContact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="icofont-spinner"></i>Details De Message</h3>
                <ol class="breadcrumb">
                    <li><i class="icofont-home"></i><a href="@Url.Action("index","AdminLog")">Accueil</a></li>
                    <li>Messages</li>

                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Details De Message :
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <dl class="dl-horizontal">
                                <dt>
                                    Nom :
                                    @*@Html.DisplayNameFor(model => model.Nom_msg)*@
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nom_msg)
                                </dd>

                                <dt>
                                    Email :
                                    @*@Html.DisplayNameFor(model => model.Email_msg)*@
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email_msg)
                                </dd>

                                <dt>
                                    Objet :
                                    @*@Html.DisplayNameFor(model => model.Objet_msg)*@
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Objet_msg)
                                </dd>

                                <dt>
                                    Message :
                                    @*@Html.DisplayNameFor(model => model.Message_msg)*@
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Message_msg)
                                </dd>

                            </dl>
                            <div>
                                @*<button style="color:orangered;"> @Html.ActionLink("Supprimer", "DeleteContact", new { id = item.id_msg })</button>*@
                                <i class="icofont-reply"></i>@Html.ActionLink("retournez à la page précédente", "listContact")

                            </div>
                      </div>
                    </div>

                </section>

                <br /><br /><br /><br />
            </div>
        </div>
    </section>
</section>

