@model pfeCLS_website.Models.Contact
@{
    ViewBag.Title = "EditContact";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Notifications")
                <h3 class="page-header"><i class="fa fa-files-o"></i>Ajouter un stagiaire</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="index.html">Accueil</a></li>
                    <li><i class="icon_document_alt"></i>Inscription</li>

                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Formulaire d'inscription :
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Contact</h4>
                                    <hr />
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.id_msg)

                                    <div class="form-group">

                                        @*@Html.LabelFor(model => model.Nom_msg, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                        <div class="col-md-10">
                                            Nom :
                                            @Html.EditorFor(model => model.Nom_msg, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Nom_msg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Email_msg, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                        <div class="col-md-10">
                                            Prenom :
                                            @Html.EditorFor(model => model.Email_msg, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email_msg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Objet_msg, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                        <div class="col-md-10">
                                            Objet :
                                            @Html.EditorFor(model => model.Objet_msg, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Objet_msg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Message_msg, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                        <div class="col-md-10">
                                            Message :
                                            @Html.EditorFor(model => model.Message_msg, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Message_msg, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Enregistrer" class="btn btn-default" style="color:orangered;" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
                <div>
                    @Html.ActionLink("retournez à la page précédente", "ListInscription")
                </div>
                <br /><br /><br /><br />
            </div>
        </div>
    </section>
</section>