@model pfeCLS_website.Models.Inscription

@{
    ViewBag.Title = "EditInscription";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Notifications")
                <h3 class="page-header"><i class="icofont-repair"></i>Modifier une inscription</h3>
                <ol class="breadcrumb">
                    <li><i class="icofont-home"></i><a href="@Url.Action("index","AdminLog")">Accueil</a></li>
                    <li>Inscription</li>

                </ol>
            </div>
        </div>
        <!-- Form validations -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Formulaire d'inscription :
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Inscription</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.id_part)

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Nom_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                                  Nom :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Nom_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Nom_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Prenom_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Prenom :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Prenom_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Prenom_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Age_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Age :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Age_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Age_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Email_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Email :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Profil_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Profil :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Profil_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Profil_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Adresse_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Adresse :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Adresse_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Adresse_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Tele_part, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Tele :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Tele_part, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Tele_part, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Date_Inscr, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            date :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Date_Inscr, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Date_Inscr, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.ID_branche, "ID_branche", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-2" style="padding-left:10%;">
                                            Branche :
                                        </div>
                                        <div class="col-md-10">
                                            @Html.DropDownList("ID_branche", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ID_branche, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Enregistrer" class="btn btn-default" style="color:orangered;" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
                <div>
                    <i class="icofont-reply"></i>@Html.ActionLink("retournez à la page précédente", "ListInscription")
                </div>
                <br /><br /><br /><br />
            </div>
        </div>
    </section>
</section>
